/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-may-2018, 16:45:05
    Author     : Temy
*/

canvas {
    border: black 5px solid;
    margin-top: 4em;
    margin-left: 4em;
}
